---
import Navbar from '../components/Navbar.astro'
import Layout from '../layouts/Layout.astro'
import EventsSection from '../sections/EventsSection.astro'
import HomeSection from '../sections/HomeSection.astro'
---

<Layout title="Inquivesta X">
  <Navbar />
  <section id="home" class="h-screen">
    <HomeSection />
  </section>
  <section
    id="about"
    class="h-screen bg-yellow-brand flex-center text-black text-2xl"
  >
    About
  </section>
  <section id="events">
    <EventsSection />
  </section>
  <section
    id="team"
    class="h-screen bg-red-brand flex-center text-black text-2xl"
  >
    Team
  </section>
</Layout>
<style is:global>
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-black text-white;
    /* the below styling is for transparent scrollbar backround */
    overflow: overlay;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, 0.4);
    border: 1px solid white;
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-track {
    background: hsla(0, 0%, 0%, 0);
  }
</style>
