<script is:inline>
  /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
  var prevScrollpos = window.pageYOffset
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset
    if (prevScrollpos > currentScrollPos) {
      document.querySelector('nav').style.top = '0'
    } else {
      document.querySelector('nav').style.top = '-150px'
    }
    prevScrollpos = currentScrollPos
  }
</script>
<nav class="fixed w-full top-0 z-10 backdrop-blur transition-all duration-500">
  <ul class="flex lg:px-[25vw] py-8 justify-around text-2xl">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#events">Events</a></li>
    <li><a href="#team">Team</a></li>
  </ul>
</nav>
