<nav class="fixed w-full top-0 z-10 backdrop-blur">
  <ul class="flex lg:px-[25vw] py-8 justify-around text-2xl">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#events">Events</a></li>
    <li><a href="#team">Team</a></li>
  </ul>
</nav>
