---
import EventCard from '../components/EventCard.astro'

const events = await Astro.glob('../pages/event/*.md')
const eventsData = events.map((content) => ({
  name: content.frontmatter.title as string,
  url: content.url as string,
}))
---

<p class="pt-24 mb-8 text-center text-2xl">Events</p>
<div class="grid grid-cols-1 gap-8 px-12 lg:grid-cols-2 my-8">
  {eventsData.map((event) => <EventCard {...event} />)}
</div>
